body {
  font-family: "Montserrat", sans-serif;
  color: #003049;
}

h1 {
  font-size: 2rem;
  margin: 6% auto;
}

h2 {

  text-align: center;

}

p {
  font-family: "Montserrat", sans-serif;
  /* text-align: center; */
  padding-top: 50px;
  color: #003049;
}

em {
  
  color: aliceblue;
}

.container-fluid {
  padding: 3% 15%;
}

/* NAVIGATION BAR */

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
}
.navbar-nav {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  align-items: center;
  margin-left: auto;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* TITLE */

#title {
  background-color: #003049;
  color: aliceblue;
  text-align: center;
  height: 40%;
  padding-bottom: 10%;
}

.title {
  padding: 5% 5%;
}

.title-img {
  width: 100%;
  padding-top: 5%;
  top: 20%;
  left: 60%;
}

.fa-solid {
  font-size: 5rem;
}

/* FEATURES */

#features {
  background-color: #fdf0d5;
  text-align: center;
  padding: 10% 5%;
  font-size: 2rem;
}

/* REVIEWS */

#reviews {
  padding: 7% 15%;
  text-align: center;
  background-color: #003049;
}

.carousel-inner {
  padding: 5% 10%;
}
.review-images {
  margin: 20px;
  width: 12%;
  border-radius: 10%;
}

.font-light {
  margin-bottom: 50px;
  font-size: 1.5rem;
  color: aliceblue;
}

.carousel-control-prev {
  left: -30px;
}

.carousel-control-next {
  right: -30px;
}

.utisci {
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: aliceblue;
}

/* LINKS */

#links {
  background-color: #fdf0d5;
  padding: 7% 15%;  
}

.links-style {
  text-align: center;
}

.links-font-size {  
  margin: 0 20px;
  font-size: 1rem;
}

/* LOKACIJA */

#lokacija {
  padding: 3% 7%;
  background-color: #003049;
  text-align: center;
}

.download-button {
  margin: 10px 5px;
}
.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #003049;
  font-size: 20px;
  background: #fdf0d5;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #fdf0d5;
  background-image: -webkit-linear-gradient(top, #fdf0d5, #a89877);
  background-image: -moz-linear-gradient(top, #fdf0d5, #a89877);
  background-image: -ms-linear-gradient(top, #fdf0d5, #a89877);
  background-image: -o-linear-gradient(top, #fdf0d5, #a89877);
  background-image: linear-gradient(to bottom, #fdf0d5, #a89877);
  text-decoration: none;
}
